.contact-carousel {
  position: relative;
  padding-top: 32px;
  padding-bottom: 32px;

  @include desktop {
    padding-top: 0px;
    min-height: 600px;
    padding-bottom: 0px;
  }

  .container {
    padding-left: 0px;
    padding-right: 0px;
    padding-bottom: 0px;

    @include tablet {
      padding-top: 32px;
    }
  }

  &__content {

    @include desktop {
      width: col(16, 37);
      margin-left: col(1, 37);
    }

    &__title {
      h3 p {

        font-size: 28px;
        line-height: 140%;
        color: $darkGray;

        strong {
          font-weight: 700;
          color: $primary;
        }

        @include tablet {
          font-size: 36px;
          line-height: 51px;
        }

        @include desktop {
          font-size: 36px;
          line-height: 51px;
          letter-spacing: -0.6px;
        }
      }

      margin-bottom: 24px;
    }

    &__info {
      background: transparent;
      overflow: hidden;
      background: white;
      border: 1px solid #DAE3FE;

      @include desktop {
        border-radius: 12px;
      }

      &__img {
        width: 100%;
        height: 200px;
        background-size: cover !important;
        margin-bottom: 16px;
        background-position: center !important;

        @include tablet {
          height: 250px;
        }

        @include desktop {
          display: none;
        }
      }

      &__text {
        padding: 12px 20px;
        max-height: 283px;
        overflow-y: auto;

      }

      &__item {

        background: white;

        @include desktop {
          padding: 24px 32px;
        }

        p {
          font-weight: 300;
          font-size: 16px;
          line-height: 160%;
          color: $darkGray;

          a {
            color: $primary;
            font-weight: 700;
            font-size: 24px;
            line-height: 29px;
            position: relative;
            padding-left: 32px;
            margin-top: 4px;

            &::after {
              content: '';
              position: absolute;
              top: 4px;
              left: 0px;
              background-image: url("data:image/svg+xml,%3Csvg width='26' height='26' viewBox='0 0 26 26' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M12.9996 0C5.83163 0 0 5.83163 0 13.0004C0 20.1684 5.83084 26 12.9996 26C13.4429 26 13.8011 25.641 13.8011 25.1993C13.8011 24.7568 13.4429 24.3978 12.9996 24.3978C6.71509 24.3978 1.60376 19.2849 1.60376 13.0012C1.60376 6.71669 6.71509 1.60376 12.9996 1.60376C19.2841 1.60376 24.3946 6.71669 24.3946 13.0012C24.3946 15.6269 22.997 18.2311 20.9969 19.3327C20.2702 19.7322 19.4823 19.9304 18.6418 19.9383C19.1464 19.6375 19.5834 19.2324 19.9081 18.7198C19.9718 18.6235 20.0561 18.5399 20.0975 18.4341C20.3586 17.8061 20.3817 17.0938 20.5393 16.4316C20.7327 15.5831 16.8319 13.93 16.4929 14.987C16.3703 15.3794 16.1824 16.617 15.9365 16.9433C15.7176 17.2338 15.178 17.0969 14.8405 16.8096C13.9515 16.0519 12.959 14.9376 12.0883 14.0582L12.0899 14.0574C12.0676 14.0343 12.0405 14.008 12.0167 13.9849C11.992 13.9611 11.9673 13.9356 11.9426 13.9117C11.0624 13.0418 9.94808 12.0509 9.19117 11.1595C8.90464 10.822 8.76616 10.284 9.05746 10.0643C9.38378 9.81755 10.6222 9.63211 11.0138 9.50874C12.0692 9.17048 10.4169 5.26733 9.56843 5.46233C8.90623 5.61753 8.1939 5.64141 7.56592 5.90167C7.45927 5.94625 7.3765 6.02902 7.28019 6.09269C5.05244 7.50543 4.76511 10.9342 6.93954 13.4883C7.76808 14.4657 8.63244 15.4112 9.52227 16.3345L9.51749 16.3377C9.54217 16.3623 9.56764 16.3854 9.59311 16.4093C9.61698 16.434 9.64006 16.4586 9.66315 16.4849L9.66792 16.4801C10.5912 17.3699 11.6856 18.68 13.4636 19.8667C17.2068 22.3667 20.0792 21.6687 21.7713 20.7406C24.6923 19.1321 25.9992 15.6961 25.9992 13.0052C26 5.83163 20.1676 0 12.9996 0Z' fill='%23FF7F13'/%3E%3C/svg%3E%0A");
              width: 26px;
              height: 26px;
              display: block;
            }
          }

          strong {
            font-weight: 700;
            font-size: 14px;
            line-height: 17px;
            text-transform: uppercase;
            color: #383B4E;
            margin-bottom: 4px;
          }
        }

        &__address {
          display: flex;
          align-items: flex-start;
          flex-flow: wrap;
          justify-content: space-between;
          margin-bottom: 16px;
          align-items: center;

          @include desktop {
            align-items: center;
            margin-bottom: 12px;
          }

          p {
            width: calc(100% - 116px);
            line-height: 140%;
            font-size: 14px;

            @include tablet {
              font-size: 16px;
            }

            @include desktop {
              line-height: 140%;
            }
          }

          .socials {
            display: flex;

            .whatsapp {
              background-image: url("data:image/svg+xml,%3Csvg width='31' height='31' viewBox='0 0 31 31' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M26.0291 4.76111C24.6538 3.37301 23.0159 2.27251 21.211 1.52375C19.406 0.774995 17.4701 0.392947 15.516 0.399873C7.32795 0.399873 0.654843 7.0711 0.647343 15.2611C0.647343 17.8842 1.33359 20.4361 2.62921 22.6954L0.527344 30.3998L8.40982 28.3335C10.5904 29.5202 13.0334 30.1423 15.516 30.1429H15.5235C23.7135 30.1429 30.3848 23.4717 30.3923 15.2742C30.3941 13.3205 30.0094 11.3858 29.2603 9.58149C28.5111 7.77717 27.4123 6.13891 26.0273 4.76111H26.0291ZM15.516 27.6267C13.3017 27.6274 11.128 27.0315 9.22357 25.9017L8.77357 25.6317L4.09733 26.8579L5.34608 22.2961L5.05358 21.8254C3.81572 19.8573 3.16105 17.5786 3.16546 15.2536C3.16546 8.45485 8.70982 2.90862 15.5235 2.90862C17.1468 2.9057 18.7546 3.22413 20.2542 3.84553C21.7538 4.46694 23.1156 5.37903 24.261 6.52923C25.4105 7.67494 26.3217 9.03689 26.9421 10.5365C27.5626 12.0362 27.88 13.6438 27.876 15.2667C27.8685 22.0898 22.3242 27.6267 15.516 27.6267V27.6267ZM22.2942 18.3754C21.9248 18.1898 20.1004 17.2917 19.7573 17.1642C19.416 17.0423 19.1667 16.9786 18.9229 17.3498C18.6735 17.7192 17.961 18.5611 17.7473 18.8029C17.5335 19.0523 17.3123 19.0804 16.941 18.8967C16.5717 18.7092 15.3735 18.3192 13.9561 17.0498C12.8498 16.0654 12.1092 14.8467 11.8879 14.4773C11.6742 14.1061 11.8673 13.9073 12.0529 13.7217C12.2161 13.5567 12.4223 13.2867 12.6079 13.073C12.7954 12.8592 12.8573 12.7017 12.9792 12.4542C13.1011 12.203 13.0429 11.9892 12.9511 11.8036C12.8573 11.618 12.1167 9.78609 11.8036 9.04735C11.5036 8.31797 11.1979 8.41922 10.9692 8.40985C10.7554 8.39672 10.5061 8.39672 10.2567 8.39672C10.0684 8.4014 9.88305 8.44496 9.71237 8.52466C9.54168 8.60435 9.38931 8.71847 9.26482 8.85985C8.92357 9.2311 7.9692 10.1292 7.9692 11.9611C7.9692 13.793 9.30044 15.5536 9.48794 15.803C9.67169 16.0523 12.1017 19.8004 15.831 21.4129C16.7123 21.7973 17.406 22.0242 17.9479 22.1967C18.8385 22.4817 19.6429 22.4386 20.2842 22.3467C20.9967 22.2379 22.4798 21.4467 22.7929 20.5786C23.1004 19.7086 23.1004 18.9661 23.0066 18.8104C22.9148 18.6529 22.6654 18.5611 22.2942 18.3754V18.3754Z' fill='%23F94E0B'/%3E%3C/svg%3E%0A");
              min-width: 31px;
              height: 30px;
              margin-right: 4px;
            }

            .waze {
              background-image: url("data:image/svg+xml,%3Csvg width='34' height='31' viewBox='0 0 34 31' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M33.5449 11.7616C34.5172 17.5112 31.473 23.0063 25.9666 25.6989C26.8371 27.9824 25.1362 30.3998 22.7308 30.3998C21.8445 30.3991 20.9923 30.0584 20.3498 29.4479C19.7073 28.8374 19.3235 28.0036 19.2775 27.1185C18.8462 27.1313 14.9784 27.1185 14.1661 27.0757C14.1478 27.5301 14.04 27.9765 13.8491 28.3893C13.6581 28.8021 13.3877 29.1732 13.0532 29.4814C12.7188 29.7896 12.3268 30.0289 11.8999 30.1855C11.4729 30.3422 11.0192 30.4132 10.5648 30.3944C8.29736 30.3034 6.68419 28.0614 7.41745 25.8462C4.92571 24.9683 2.55986 23.5112 0.746467 21.1051C-0.124068 19.948 0.714325 18.306 2.142 18.306C5.24312 18.306 4.29959 14.6786 5.03151 10.9225C6.26566 4.63192 12.8496 0.39978 19.2092 0.39978C26.0717 0.39978 32.4112 5.13215 33.5449 11.7616V11.7616ZM24.9293 24.2578C27.7418 22.9734 30.3755 20.4603 31.3773 17.4181C34.088 9.17545 27.0815 2.15023 19.2092 2.15023C13.621 2.15023 7.80383 5.86139 6.74915 11.2574C6.11098 14.5326 7.08397 20.0531 2.14535 20.0531C3.81544 22.2703 6.05138 23.5768 8.42191 24.3422C10.0733 22.8824 12.6989 23.3063 13.7677 25.3025C14.7199 25.3694 19.0706 25.3815 19.6538 25.3574C19.8894 24.8973 20.2249 24.4959 20.6358 24.1825C21.0468 23.869 21.5227 23.6516 22.0286 23.5462C22.5346 23.4407 23.0577 23.4499 23.5597 23.5731C24.0616 23.6962 24.5296 23.9302 24.9293 24.2578V24.2578ZM13.6532 10.7879C13.6532 8.46161 17.0576 8.46094 17.0576 10.7879C17.0576 13.115 13.6532 13.1143 13.6532 10.7879ZM21.4592 10.7879C21.4592 8.46161 24.865 8.46094 24.865 10.7879C24.865 13.115 21.4592 13.115 21.4592 10.7879ZM13.2487 15.5217C13.0183 14.3873 14.734 14.0364 14.9643 15.1728L14.9683 15.1915C15.2456 16.6259 16.9672 18.1379 19.2621 18.0757C21.6514 18.0127 23.2297 16.5884 23.5552 15.2116C23.8538 14.1368 25.4704 14.5179 25.2608 15.6134C24.9105 17.0987 23.1708 19.7652 19.1362 19.8254C16.2869 19.8254 13.7201 17.9612 13.25 15.523L13.2487 15.5217Z' fill='%23F94E0B'/%3E%3C/svg%3E%0A");
              min-width: 34px;
              height: 31px;
              margin-right: 4px;

            }

            .googlemaps {
              background-image: url("data:image/svg+xml,%3Csvg width='22' height='31' viewBox='0 0 22 31' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M20.5087 6.39978C22.0237 9.65478 21.6787 13.4948 20.0137 16.6148C18.6037 19.1498 16.5787 21.2948 14.8537 23.6498C14.1037 24.6998 13.3537 25.8248 12.7987 27.0398C12.6037 27.4448 12.4687 27.8648 12.3187 28.2848C12.1687 28.7048 12.0337 29.1248 11.8987 29.5448C11.7637 29.9348 11.5987 30.3998 11.1037 30.3998C10.5187 30.3998 10.3537 29.7398 10.2337 29.2898C9.87369 28.1948 9.51369 27.1448 8.95869 26.1398C8.32869 24.9548 7.53369 23.8598 6.72369 22.7948L20.5087 6.39978ZM6.78369 10.0298L1.83369 15.9098C2.74869 17.8448 4.11369 19.4948 5.41869 21.1448C5.73369 21.5198 6.04869 21.9098 6.34869 22.3148L12.6037 14.9048L12.5437 14.9198C10.3537 15.6698 7.92369 14.5598 7.05369 12.3998C6.93369 12.1448 6.84369 11.8448 6.78369 11.5448C6.70117 11.0482 6.70117 10.5414 6.78369 10.0448V10.0298M2.97369 4.32978L2.95869 4.34478C0.528695 7.41978 0.108694 11.6948 1.56369 15.3098L7.54869 8.19978L7.47369 8.12478L2.97369 4.32978M14.4337 0.93978L9.60369 6.65478L9.66369 6.63978C11.6737 5.94978 13.9237 6.81978 14.9437 8.64978C15.1687 9.06978 15.3487 9.51978 15.4087 9.96978C15.4987 10.5398 15.5287 10.9448 15.4237 11.4998V11.5148L20.2237 5.81478C18.969 3.53386 16.9104 1.80145 14.4487 0.95478L14.4337 0.93978M7.9387 7.73478L13.8037 0.75978L13.7437 0.74478C12.8737 0.51978 11.9887 0.39978 11.1037 0.39978C8.14869 0.39978 5.35869 1.67478 3.37869 3.86478L3.34869 3.87978L7.9387 7.73478V7.73478Z' fill='%23F94E0B'/%3E%3C/svg%3E%0A");
              min-width: 22px;
              height: 31px;
            }
          }
        }
      }
    }

    &__menu {
      margin-bottom: 12px;
      height: 48px;
      overflow-y: hidden;
      display: flex;
      align-items: center;
      gap: 12px;

      &::-webkit-scrollbar {
        -webkit-appearance: none;
      }

      &::-webkit-scrollbar-thumb {
        background-color: $lightgray;
        background-clip: padding-box;
        border-radius: 20px;
        border: 1px solid $lightgray;
      }

      &::-webkit-scrollbar:horizontal {
        width: 6px;
        height: 8px;
        margin-top: 12px;
      }

      &::-webkit-scrollbar-track {
        border-radius: 10px;
        box-shadow: inset 255 255 255px rgba(255, 255, 255, 1);
        -webkit-box-shadow: inset 255 255 255px rgba(255, 255, 255, 1);
        background: white;

      }

      .owl-stage {
        display: flex;
      }

      &__item {
        padding: 10px 16px;
        background: transparent;
        color: $darkGray;
        display: inline-block;
        border-radius: 12px;
        cursor: pointer;
        transition: .3s all ease-in-out;
        font-size: 14px;
        text-align: center;
        background: #FADED7;
        border-radius: 12px;
        min-width: 128px;

        @include desktop {
          font-size: 14px;
          min-width: 98px;

        }

        &.active,
        &:hover {
          background: $primary;
          color: white;
          font-weight: 700;
        }

      }
    }
  }

  &__img {
    @include desktop {
      width: 49.6vw;
      height: 600px;
      position: absolute;
      right: 0;
      top: 0;
      background-size: cover !important;
      background-position: center !important;

      .square {
        content: '';
        width: 40px;
        height: 40px;
        display: block;
        position: absolute;
        top: 50%;
        left: -20px;
        transform: rotate(45deg);
        background: white;
      }
    }
  }

  &.first {
    margin-top: 128px;
  }

  &.tazza {
    .contact-carousel__content__info__item__address p {
      width: calc(100% - 100px);
    }

    .contact-carousel__content__info__item__address {
      a {
        &.whatsapp {
          background-image: url("data:image/svg+xml,%3Csvg width='31' height='30' viewBox='0 0 31 30' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M26.1144 4.35185C24.7528 2.97761 23.1313 1.8881 21.3444 1.14681C19.5574 0.405527 17.6409 0.0272928 15.7063 0.0341492C7.59991 0.0341492 0.993415 6.63879 0.985989 14.747C0.985989 17.344 1.66539 19.8703 2.94808 22.1072L0.867188 29.7346L8.67099 27.689C10.8298 28.8639 13.2484 29.4797 15.7063 29.4803H15.7137C23.8219 29.4803 30.4266 22.8757 30.434 14.76C30.4359 12.8259 30.055 10.9104 29.3133 9.12412C28.5716 7.33781 27.4838 5.71591 26.1126 4.35185H26.1144ZM15.7063 26.9892C13.514 26.9899 11.362 26.4 9.47661 25.2814L9.0311 25.0141L4.40154 26.2281L5.63783 21.7118L5.34825 21.2459C4.12274 19.2974 3.4746 17.0414 3.47897 14.7396C3.47897 8.00873 8.96799 2.51785 15.7137 2.51785C17.3208 2.51497 18.9125 2.83022 20.3971 3.44542C21.8818 4.06062 23.23 4.96361 24.364 6.10233C25.5019 7.2366 26.4041 8.58496 27.0183 10.0696C27.6326 11.5543 27.9468 13.1459 27.9429 14.7526C27.9355 21.5076 22.4464 26.9892 15.7063 26.9892ZM22.4167 17.8303C22.051 17.6465 20.2449 16.7574 19.9052 16.6311C19.5673 16.5105 19.3205 16.4474 19.0791 16.8149C18.8323 17.1806 18.1269 18.0141 17.9153 18.2535C17.7036 18.5004 17.4846 18.5283 17.1171 18.3463C16.7514 18.1607 15.5652 17.7746 14.1619 16.5179C13.0667 15.5434 12.3334 14.3368 12.1144 13.9711C11.9028 13.6036 12.094 13.4068 12.2777 13.223C12.4392 13.0597 12.6434 12.7924 12.8272 12.5807C13.0128 12.3691 13.0741 12.2132 13.1947 11.9682C13.3154 11.7194 13.2579 11.5078 13.1669 11.324C13.0741 11.1403 12.3408 9.32668 12.0309 8.59531C11.7338 7.87322 11.4313 7.97346 11.2048 7.96417C10.9932 7.95118 10.7463 7.95118 10.4994 7.95118C10.313 7.95581 10.1295 7.99894 9.96053 8.07784C9.79155 8.15674 9.6407 8.26972 9.51745 8.40968C9.17961 8.77722 8.23476 9.66638 8.23476 11.48C8.23476 13.2936 9.55272 15.0366 9.73835 15.2835C9.92026 15.5304 12.326 19.2411 16.0181 20.8375C16.8906 21.218 17.5774 21.4426 18.1139 21.6134C18.9956 21.8956 19.792 21.8529 20.4268 21.7619C21.1322 21.6542 22.6005 20.8709 22.9105 20.0114C23.2149 19.1501 23.2149 18.415 23.1221 18.261C23.0312 18.105 22.7843 18.0141 22.4167 17.8303Z' fill='%23431F0B'/%3E%3C/svg%3E%0A");
        }

        &.waze {
          width: 36px;
          height: 32px;
          background-image: url("data:image/svg+xml,%3Csvg width='36' height='32' viewBox='0 0 36 32' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M35.4095 12.0488C36.4279 18.0709 33.2394 23.8265 27.4719 26.6467C28.3837 29.0385 26.6022 31.5705 24.0828 31.5705C23.1545 31.5698 22.2618 31.2129 21.5888 30.5735C20.9158 29.934 20.5139 29.0608 20.4657 28.1337C20.014 28.147 15.9628 28.1337 15.112 28.0888C15.0928 28.5648 14.98 29.0323 14.7799 29.4647C14.5799 29.897 14.2967 30.2857 13.9464 30.6085C13.5961 30.9314 13.1856 31.182 12.7383 31.3461C12.2911 31.5102 11.8159 31.5845 11.34 31.5649C8.96506 31.4695 7.27542 29.1212 8.04344 26.801C5.43357 25.8815 2.95557 24.3553 1.05621 21.8352C0.144409 20.6232 1.02255 18.9034 2.5179 18.9034C5.76603 18.9034 4.77778 15.104 5.54439 11.1699C6.83705 4.58109 13.7331 0.148315 20.3942 0.148315C27.582 0.148315 34.222 5.10502 35.4095 12.0488ZM26.3854 25.1374C29.3313 23.7921 32.0898 21.1598 33.1391 17.9734C35.9783 9.34 28.6397 1.98174 20.3942 1.98174C14.5411 1.98174 8.44814 5.86883 7.34345 11.5206C6.67503 14.9511 7.69415 20.7333 2.52141 20.7333C4.27067 23.0556 6.61261 24.424 9.09552 25.2257C10.8251 23.6967 13.5753 24.1407 14.6947 26.2315C15.6921 26.3017 20.249 26.3143 20.8599 26.289C21.1066 25.8072 21.458 25.3867 21.8885 25.0584C22.3189 24.7302 22.8174 24.5024 23.3473 24.392C23.8772 24.2815 24.4252 24.2911 24.9509 24.4201C25.4766 24.5491 25.9668 24.7942 26.3854 25.1374ZM14.5748 11.0289C14.5748 8.59232 18.1406 8.59162 18.1406 11.0289C18.1406 13.4663 14.5748 13.4656 14.5748 11.0289ZM22.7508 11.0289C22.7508 8.59232 26.3181 8.59162 26.3181 11.0289C26.3181 13.4663 22.7508 13.4663 22.7508 11.0289ZM14.1511 15.9871C13.9098 14.7989 15.7068 14.4314 15.9481 15.6216L15.9523 15.6413C16.2427 17.1436 18.0459 18.7274 20.4496 18.6621C22.9521 18.5962 24.6053 17.1044 24.9462 15.6623C25.259 14.5366 26.9521 14.9357 26.7326 16.0831C26.3658 17.6388 24.5436 20.4317 20.3177 20.4949C17.3333 20.4949 14.6449 18.5422 14.1525 15.9885L14.1511 15.9871Z' fill='%23431F0B'/%3E%3C/svg%3E%0A");
        }

        &.googlemaps {
          background-image: url("data:image/svg+xml,%3Csvg width='22' height='31' viewBox='0 0 22 31' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M20.4813 6.26558C22.0259 9.58419 21.6742 13.4992 19.9766 16.6802C18.5391 19.2648 16.4745 21.4517 14.7158 23.8527C13.9511 24.9232 13.1864 26.0702 12.6206 27.309C12.4218 27.7219 12.2842 28.1501 12.1312 28.5783C11.9783 29.0065 11.8407 29.4347 11.703 29.8629C11.5654 30.2605 11.3972 30.7346 10.8925 30.7346C10.296 30.7346 10.1278 30.0617 10.0055 29.6029C9.63844 28.4865 9.2714 27.416 8.70555 26.3914C8.06324 25.1832 7.25271 24.0668 6.42688 22.981L20.4813 6.26558ZM6.48805 9.96652L1.44131 15.9614C2.37419 17.9343 3.76587 19.6165 5.09637 21.2987C5.41753 21.6811 5.73868 22.0787 6.04455 22.4916L12.4218 14.9368L12.3606 14.9521C10.1278 15.7167 7.65033 14.5851 6.76332 12.3828C6.64098 12.1229 6.54922 11.817 6.48805 11.5111C6.40391 11.0048 6.40391 10.4881 6.48805 9.98181V9.96652ZM2.60359 4.15512L2.58829 4.17041C0.110804 7.30551 -0.317405 11.6641 1.16603 15.3497L7.268 8.10075L7.19153 8.02429L2.60359 4.15512ZM14.2876 0.698869L9.36316 6.52556L9.42433 6.51027C11.4736 5.80678 13.7676 6.69378 14.8075 8.55955C15.0369 8.98776 15.2204 9.44655 15.2816 9.90535C15.3734 10.4865 15.404 10.8994 15.2969 11.4652V11.4805L20.1907 5.66914C18.9115 3.34365 16.8127 1.57738 14.3028 0.714162L14.2876 0.698869ZM7.66562 7.62667L13.6452 0.515351L13.5841 0.500058C12.6971 0.270661 11.7948 0.148315 10.8925 0.148315C7.87972 0.148315 5.0352 1.44823 3.0165 3.68103L2.98592 3.69633L7.66562 7.62667Z' fill='%23431F0B'/%3E%3C/svg%3E%0A");
        }
      }
    }

    .contact-carousel__content__menu {
      .contact-carousel__content__menu__item {
        background: #F2EDE5;

        &:hover,
        &.active {
          background: #431F0B;
        }
      }
    }

    .contact-carousel__content__title {
      h3 {
        strong {
          color: #431F0B;
        }
      }
    }
  }
}