.frase {
  position: relative;
  background: transparent;
  z-index: 9;

  @include mobile {
    margin-top: 24px;
    margin-bottom: 24px;
  }

  &__text {
    background: $primary;
  }

  &__top {
    width: 100%;
    display: block;
    position: relative;
    top: 1px;

    @include tablet {
      position: absolute;
      top: -2vh;
      left: 0;
    }

    @media only screen and (min-width: 1000px) {
      position: absolute;
      top: -4.1vh;
      left: 0;
    }

    @include desktop {
      position: absolute;
      top: -7.1vh;
      left: 0;
    }
  }

  &__bottom {
    width: 100%;
    display: block;

    position: relative;
    bottom: 1px;

    @include tablet {
      position: absolute;
      bottom: -2vh;
      left: 0;
    }

    @media only screen and (min-width: 1000px) {
      position: absolute;
      bottom: -4.5vh;
      left: 0;
    }

    @include desktop {

      bottom: -7.1vh;
      left: 0;
    }
  }

  .container {
    color: white;

    text-align: center;
    font-weight: 600;
    font-size: 18px;
    padding: 24px;

    @include tablet {
      font-size: 28px;
      padding-top: 64px;
      padding-bottom: 64px;
    }
  }
}