.slider-brand {
  .container {
    padding-left: 0px;
    padding-right: 0px;
    padding-top: 48px;
    padding-bottom: 48px;

    @include tablet {
      padding-top: 64px;
      padding-bottom: 96px;
    }
  }

  &__title p {
    font-size: 28px;
    line-height: 140%;
    color: #27293B;
    font-family: $poppins;
    margin-bottom: 24px;
    text-align: center;

    strong {
      color: $primary;
      font-weight: 700;
    }

    @include tablet {
      font-size: 40px;
      margin-bottom: 48px;
    }
  }

  &__items {
    max-width: 1184px;
    margin: 0 auto;

    .owl-dots {
      margin-top: 8px;

      .owl-dot {
        span {
          width: 18px !important;
          height: 18px !important;
          border: 1px solid #F94E0B !important;
          background: white !important;
        }

        &.active {
          span {
            background-color: #F94E0B !important;
          }
        }
      }
    }

    .owl-prev {
      left: -64px;
      right: initial;

      &::before {
        content: '';
        background-image: url("data:image/svg+xml,%3Csvg width='15' height='10' viewBox='0 0 15 10' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23clip0_2259_857)'%3E%3Cpath d='M14.1814 3.98863H2.62458L5.31552 1.31072C5.61578 1.01188 5.61694 0.526229 5.31809 0.225969C5.01925 -0.0743295 4.53356 -0.0754414 4.2333 0.223361L0.225335 4.212C-0.0741581 4.51084 -0.0758072 4.99879 0.224568 5.29863L4.23322 9.288C4.53345 9.58676 5.01914 9.58573 5.31802 9.28539C5.61686 8.98513 5.61571 8.49947 5.31545 8.20063L2.62458 5.52272H14.1814C14.6051 5.52272 14.9485 5.17932 14.9485 4.75568C14.9485 4.33204 14.6051 3.98863 14.1814 3.98863Z' fill='white'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0_2259_857'%3E%3Crect width='15' height='10' fill='white'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E%0A");
        width: 15px;
        height: 10px;
        display: inline-block;
        background-size: cover;
        background-repeat: no-repeat;
      }

      &.disabled {
        &::before {
          content: '';
          background-image: url("data:image/svg+xml,%3Csvg width='15' height='10' viewBox='0 0 15 10' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M14.1814 3.98863H2.62458L5.31552 1.31072C5.61578 1.01188 5.61694 0.526229 5.31809 0.225969C5.01925 -0.0743295 4.53356 -0.0754414 4.2333 0.223361L0.225335 4.212C-0.074158 4.51084 -0.0758071 4.99879 0.224568 5.29863L4.23322 9.288C4.53345 9.58676 5.01914 9.58573 5.31802 9.28539C5.61686 8.98513 5.61571 8.49947 5.31545 8.20063L2.62458 5.52272H14.1814C14.6051 5.52272 14.9485 5.17932 14.9485 4.75568C14.9485 4.33204 14.6051 3.98863 14.1814 3.98863Z' fill='white'/%3E%3C/svg%3E");
          width: 15px;
          height: 10px;
          display: inline-block;
          background-size: cover;
          background-repeat: no-repeat;
        }
      }
    }

    .owl-next {
      right: -64px;

      &::before {
        content: '';
        background-image: url("data:image/svg+xml,%3Csvg width='15' height='10' viewBox='0 0 15 10' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0.753802 5.42736H12.1111L9.46661 8.05903C9.17153 8.35271 9.1704 8.82998 9.46408 9.12505C9.75776 9.42017 10.2351 9.42126 10.5301 9.12762L14.4689 5.20785C14.7632 4.91417 14.7648 4.43464 14.4696 4.13998L10.5302 0.219505C10.2352 -0.0741011 9.75788 -0.0730836 9.46416 0.222066C9.17048 0.517142 9.17161 0.994411 9.46669 1.28809L12.1111 3.91976H0.753802C0.337477 3.91976 3.64e-08 4.25724 0 4.67356C-3.64e-08 5.08988 0.337477 5.42736 0.753802 5.42736Z' fill='white'/%3E%3C/svg%3E%0A");
        width: 15px;
        height: 10px;
        display: inline-block;
        background-size: cover;
        background-repeat: no-repeat;
      }

      &.disabled {
        &::before {
          content: '';
          background-image: url("data:image/svg+xml,%3Csvg width='15' height='10' viewBox='0 0 15 10' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0.753886 5.42736L12.1112 5.42736L9.46669 8.05903C9.17161 8.35271 9.17048 8.82998 9.46416 9.12506C9.75785 9.42017 10.2352 9.42126 10.5302 9.12762L14.469 5.20786C14.7633 4.91418 14.7649 4.43464 14.4697 4.13998L10.5303 0.219506C10.2353 -0.0740997 9.75796 -0.0730828 9.46424 0.222068C9.17056 0.517143 9.17169 0.994412 9.46677 1.28809L12.1112 3.91976L0.753886 3.91976C0.337562 3.91976 8.5713e-05 4.25724 8.56766e-05 4.67356C8.56402e-05 5.08988 0.337562 5.42736 0.753886 5.42736Z' fill='white'/%3E%3C/svg%3E");
          width: 15px;
          height: 10px;
          display: inline-block;
          background-size: cover;
          background-repeat: no-repeat;
        }
      }
    }

    .owl-nav {
      position: absolute;
      text-align: right !important;
      max-width: 1184px !important;
      margin-left: auto !important;
      margin-right: auto !important;
      top: 24%;
      width: 100%;

      @include mobile {
        top: 0px;
        text-align: center !important;
        left: 0px !important;
        max-width: 480px;
        width: 84%;
        position: relative;
      }
    }

    .owl-prev,
    .owl-next {
      width: 48px;
      height: 48px;
      border-radius: 50% !important;
      border: 1px solid #F94E0B !important;
      background: #F94E0B !important;

      @include tablet {
        position: absolute;
      }

      &::before {
        position: relative;
        top: 14px;
      }

      &.disabled {
        border-color: #ffffff !important;
        background: transparent !important;
      }

      span {
        width: 48px;
        height: 48px;
        display: block;
        color: transparent;
      }
    }
  }

  &__item {
    height: 124px;
    background-size: cover !important;
    background-position: center !important;

    @include tablet {
      height: 164px;
    }
  }
}