.btn {
    padding: 8px 24px;
    border-radius: 8px;
    display: inline-block;
    font-size: 18px;
    line-height: 156%;
    font-weight: 600;
    transition: ease-in-out .3s all;
    -webkit-transition: ease-in-out .3s all;
    -moz-transition: ease-in-out .3s all;
    -ms-transition: ease-in-out .3s all;
    -o-transition: ease-in-out .3s all;

    &__primary {
        @extend .btn;
        background-color: $primary;
        color: white;
        letter-spacing: 0.6px;
        border: 1px solid $primary;

        &:hover {
            background: $primary-hover;
        }

        &--border {
            @extend .btn;
            background: transparent;
            border: 1px solid white;
            color: white;
        }
    }
}