@import "_grid";
@import "_variables";
@import "_buttons";
@import "inputs";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    border: 0;
    text-decoration: none;
    font-family: $primary-text;
    font-weight: 400;
    outline: 0px;
}



body {
    margin: 0;
    overflow-x: hidden;
    width: 100%;

    &::-webkit-scrollbar {
        -webkit-appearance: none;
    }

    &::-webkit-scrollbar-thumb {
        background-color: $primary;
        background-clip: padding-box;
        border-radius: 20px;
        border: 1px solid $primary;
    }

    &::-webkit-scrollbar:vertical {
        width: 6px;
    }

    &::-webkit-scrollbar-track {
        border-radius: 10px;
        box-shadow: inset 0 0 0px rgba(0, 0, 0, 1);
        -webkit-box-shadow: inset 0 0 0px rgba(0, 0, 0, 1);
        background: $lightgray;
    }
}

button {
    -webkit-appearance: none;
    appearance: none;
    cursor: pointer;
    border: 0;
    outline: 0;
    box-shadow: 0px;
}

input {
    appearance: none;
    webkit-appearance: none;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type="number"] {
    -moz-appearance: textfield;
}

.hide-on-small-only {
    display: none !important;

    @include tablet {
        display: block !important;
    }
}

.hide-on-medium-only {
    display: none;

    @include tablet {
        display: block;
    }
}

.hide-tablet-on-up {
    display: inline-block;

    @include tablet {
        display: none !important;
    }
}

#contenido {
    overflow-x: hidden;

    @include desktop {
        overflow: initial;
    }
}

.container {
    @include tablet {
        padding-top: 64px;
        padding-bottom: 64px;
    }
}