$primary: #065A98;
$primary-hover: #0668ad;
$color-primary-text-button:white;
$gray:#383A3F;
$lightgray:#F6F9FF;
$shadow: -0px 6px 20px rgba(0, 0, 0, 0.25);
$primary-text:'Poppins',
Arial,
Helvetica,
sans-serif;
$poppins:'Poppins',
Arial,
Helvetica,
sans-serif;
$gradient: linear-gradient(180deg, rgba(12, 166, 78, 0.8) 0%, rgba(20, 141, 180, 0.8) 100%);
$overlay:linear-gradient(90deg, rgba(35, 28, 19, 0.6) 24.32%, rgba(47, 37, 25, 0) 100.16%);